doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title BestReads
        link(rel="icon", href="./images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/reset.css", type="text/css")
        link(rel="stylesheet", href="css/style.css", type="text/css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700", type="text/css")
    body
        header(class="site-header")
            img(src="./images/book.png", alt="alt")
            h1 Better Reads
            nav
                ul
                    li
                        a(href="") Books
                    li
                        a(href="") Authors
                    li
                        a(href="") About
        section
            block content
        footer
            p Made by Emre AYDIN
